
.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1600px;
}

.searchForm {
    padding: 0 200px;
}

.searchInput {
    box-sizing: border-box;
    cursor: pointer;
    background-color: #999999;
    margin-bottom: 15px;
    padding: 14px 24px;
    border: none;
    border-radius: 30px;
    width: 450px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    transition: background-color .3s ease, color .3s ease;
}

.searchInput:hover,
.searchInput:focus {
  background-color: #666666;
  color: #000;
}

.searchInput:active {
  color: #FFFFFF;
  background-color: #444444;
}

.episodesTable {
  border-collapse: collapse;
  width: 800px;
  cursor: pointer;
}

.episodesHeader {
  font-weight: 700;
}

.episodesRow:hover {
  background: #999;
}

.episodesRow:active {
  background: coral;
}

.episodesCell {
  margin: 0;
  padding-right: 10px;
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  width: 80px;
}

.episodesCell2 {
  margin: 0;
  padding: 5px;
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
  text-align: left;
}

.paragraph {
    margin: 0;
    margin-bottom: 15px;
    font-size: 28px;
  }

.parEmptySearch {
    margin: 0;
    font-size: 22px;
    color: coral;
}
